<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Change Password</title>
{% load staticfiles %}
</head>
<body  background="{% static 'images/gd1.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

{% include 'gd_home/title.html' %}
{% include 'gd_admin/admin_menu.html' %}
<br><br><br><br>
<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
<table align="center">
    <tr>
        <th><font size="5" color="#ff4500">Old Password :</font></th>
        <th><input type="password" name="old_password"></th>
    </tr>
    <tr>
        <th><font size="5" color="#ff4500">New Password :</font></th>
        <th><input type="password" name="new_password"></th>
    </tr>
    <tr>
        <th><font size="5" color="#ff4500">Confirm Password :</font></th>
        <th><input type="password" name="confirm_password"></th>
    </tr>
    <tr>
        <th colspan="2"><br>
            <center>
              <button type="submit" class="btn btn-success">Change Password</button>
            </center>
        </th>
    </tr>
</table>
</form>
<br><br>
{% for x in messages %}
    <center><font size="5" color="red" face="Arial Black">{{ x }}</font> </center>
{% endfor %}
</body>
</html>