<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Reports</title>
{% load staticfiles %}
</head>
<body  background="{% static 'images/gd1.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

{% include 'gd_home/title.html' %}
{% include 'gd_accountant/accountant_menu.html' %}
<br><br><br>
{% if object_list %}
<table align="center" border="2">
    <tr bgcolor="#d2691e">
        <th width="150">Vendor Name</th>
        <th width="150">Bill Id</th>
        <th width="150">Amount</th>
        <th width="200">Payment Type</th>
        <th width="200">Cheque/DD Number</th>
    </tr>
{% for x in object_list %}
    <tr bgcolor="#ffd700">
        <th width="100">{{ x.vendor_name }}</th>
        <th width="100">{{ x.bill_id }}</th>
        <th width="100">{{ x.amount }}</th>
        <th width="100">{{ x.payment_type }}</th>
        <th width="100">{{ x.number }}</th>
    </tr>
{% endfor %}
</table>
{% else %}
    <center><font size="5" face="Arial Black" color="red">Sorry.. No Payments are Available</font></center>
{% endif %}
<br><br>

 <form action="{% url 'accountant_reports_menu' %}">
     <center><button type="submit" class="btn btn-secondary">Back</button></center>
          </form>

</body>
</html>
</html>