<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
{% load staticfiles %}
</head>
<br>
<body  background="{% static 'images/gd1.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

{% include 'gd_home/title.html' %}
{% include 'gd_home/menu.html' %}
<br><br><br>
<table align="center">
    <tr><th><center><font size="5" color="#ff4500">Ventech</font></center></th></tr>
    <tr><th><center><font size="5" color="#ff4500">4th floor</font></center></th></tr>
    <tr><th><center><font size="5" color="#ff4500">Swathi Manor Building</font></center></th></tr>
    <tr><th><center><font size="5" color="#ff4500">Hyderabad</font></center></th></tr>
    <tr><th><center><font size="5" color="#ff4500">500038</font></center></th></tr>
    <tr><th><center><font size="5" color="#ff4500">Phone No. : 040-999999</font></center></th></tr>
    <tr><th><center><font size="5" color="#ff4500">Mobile No. : 9999999999</font></center></th></tr>
</table>
<br><br><br>
{#{% include 'gd_home/footer.html' %}#}

</body>
</html>


