<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoDown management</title>
{% load staticfiles %}
</head><br>
<body  background="{% static 'images/gd1.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>
{% include 'gd_home/title.html' %}
<br>
{% include 'gd_home/menu.html' %}
<br><br><br><br><br><br><br><br><br>
<table align="center">
    <tr>
        <th>
            <center><font size="7" color="#ffebcd" face="Arial Black">
                Welcome  To  GoDown  Management System
            </font></center>
        </th>
    </tr>
</table>
<br><br><br><br>
{#{% include 'gd_home/footer.html' %}#}
</body>
</html>